---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
import Servicios from "../components/Servicios.astro";
import About from '../components/about.astro';
import Footer from '../components/Footer.astro';
import Experiencia from '../components/Experiencia.astro';
import Contact from '../components/Contact.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="header-wrapper relative">
			<Nav />
			<Hero/>
		</div>
		<Main />
		<Servicios/>
		<About/>
		<Experiencia/>
		<Contact/>
		<Footer />
	</body>
</html>


