---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
import Servicios from "../components/Servicios.astro";
import About from '../components/about.astro';
import Footer from '../components/Footer.astro';
import Experiencia from '../components/Experiencia.astro';
import Contact from '../components/Contact.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-BZJK73YDMV"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BZJK73YDMV');
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="body">
		<div class="header-wrapper relative">
			<Nav/>
			<Hero/>
		</div>
		<Main />
		<Servicios/>
		<About/>
		<Experiencia/>
		<Contact/>
		<Footer />
	</body>
</html>

  <style is:global>

	body {
		background-color: var(--background-50);
		max-width: 1920px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	.header-wrapper{
		overflow: hidden;
	}
	.lightbox::after{
		content: "";
		width: 100%;
		height: 100%;
		background-color: #1E3A2B;
		opacity: .8;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;

	}
</style>
<script is:inline>

	const hamburger = document.querySelector('.hamburger-menu');
	const close = document.querySelector('.close-btn');
	const menu = document.querySelector('.mobile-menu');
	const body = document.querySelector('.body');

	function toggleMenu() {
		menu.classList.toggle('active');
		hamburger.classList.toggle('primary');
		hamburger.classList.toggle('on');
		body.classList.toggle('lightbox');
	}

	hamburger.addEventListener('click', toggleMenu);
	close.addEventListener('click', toggleMenu);

	document.addEventListener('click', (e) => {
		if (!menu.contains(e.target) && !hamburger.contains(e.target) && menu.classList.contains('active')) {
			toggleMenu();
		}
	});
  
  </script>


