---
interface Props {
	link: string,
    type: string;
}

const { link, type = 'primary'  } = Astro.props;
---

<button class={type} type="submit" onclick="window.location.href='/'">
    <slot />

    <i class="projects__icon">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.59375 0.906251L17.3125 0.90625C17.5197 0.90625 17.7184 0.98856 17.8649 1.13507C18.0114 1.28159 18.0938 1.4803 18.0938 1.6875V13.4062C18.0938 13.8377 17.744 14.1875 17.3125 14.1875C16.881 14.1875 16.5312 13.8377 16.5312 13.4062V3.57361L2.23993 17.8649C1.93483 18.17 1.44017 18.17 1.13507 17.8649C0.829976 17.5598 0.829976 17.0652 1.13507 16.7601L15.4264 2.46875L5.59375 2.46875C5.16228 2.46875 4.8125 2.11897 4.8125 1.6875C4.8125 1.25603 5.16228 0.906251 5.59375 0.906251Z"/>
        </svg>
    </i>
</button>

<style>
    button{
        font-family: var(--text-medium), sans-serif;
        font-size: var(--text-lg);
        font-weight: 500;
        border: none;
        min-width: 195px;
    }
    button:hover{
        cursor: pointer;
    }
    .primary{
        background-color: var(--primary-200);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--secundary-700);
        transition: all .3s ease;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .primary:hover{
        background-color: var(--secundary-900);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
    }
    .primary:disabled{
        background-color: var(--neutral-100);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-500);
        transition: all .3s ease;
    }
    .secundary{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--primary-100);
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--secundary-700);
        transition: all .3s ease;
    }
    .secundary:hover{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--secundary-900);
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--secundary-900);
        transition: all .3s ease;
    }

    .secundary:disabled{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--neutral-200);
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-400);
        transition: all .3s ease;
    }
    .tertiary{
        background-color: var(--secundary-700);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
    }
    .tertiary:hover{
        background-color: var(--secundary-950);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
    }
    .tertiary:disabled{
        background-color: var(--neutral-100);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-500);
        transition: all .3s ease;
    }

    .projects__icon{
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 4px;
        margin-left: 2px;
        margin-right: 2px;
        position: relative;
        top: -2px;
    }
    i svg path{
        fill: var(--secundary-700);
        transition: all .3s ease;
    }

    button:hover i svg path{
        fill: var(--background-50);
        transition: all .3s ease;
    }
</style>