---
interface Props {
	link: string,
    type: string;
    label?: string;
}

const { link, type = 'primary', label  } = Astro.props;
---

<a class={type} href={link} rel="noopener noreferrer" aria-label={label}>
    <slot />
</a>

<style is:global>
    a{
        font-family: var(--text-medium), sans-serif;
        font-weight: 500;
    }
    .primary{
        background-color: var(--primary-200);
        border-radius: 100px;
        padding: 19.5px 28px;
        display: inline-block;
        height: 64px;
        text-decoration: none;
        color: var(--secundary-700);
        transition: all .3s ease;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .primary:hover{
        background-color: var(--secundary-900);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
    }
    .primary:disabled{
        background-color: var(--neutral-100);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-500);
        transition: all .3s ease;
    }
    .secundary{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--primary-300);
        display: inline-block;
        padding: 19.5px 28px;
        height: 64px;
        text-decoration: none;
        color: var(--secundary-700);
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .secundary:hover{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--secundary-900);
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--secundary-900);
        transition: all .3s ease;
    }

    .secundary:disabled{
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid var(--neutral-200);
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-400);
        transition: all .3s ease;
        fill: var(--neutral-400);
    }
    .tertiary{
        background-color: var(--secundary-700);
        border-radius: 100px;
        display: inline-block;
        padding: 19.5px 28px;
        height: 64px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tertiary:hover{
        background-color: var(--secundary-950);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--background-50);
        transition: all .3s ease;
    }
    .tertiary:disabled{
        background-color: var(--neutral-100);
        border-radius: 100px;
        padding: 19.5px 28px;
        text-decoration: none;
        color: var(--neutral-500);
        transition: all .3s ease;
    }
</style>