---
import BulletsTimeline from "./BulletsTimeline.astro";
---

<div class="experience-wrapper">
    <div>
        <h3 class="text-7xl sm-text-4xl xs-text-3xl text-center text-semibold">Experiencia</h3>
    </div>
    <div class="timeline">
        <div class="timeline-item">
            <div class="job-title">
                <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                    UX/UI Designer
                </h4>
            </div>
            <div class="bullets-container">
                <BulletsTimeline color="accent" />
            </div>
            <div class="job-description">
                <div>
                    <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                        MediaLab Ingeniería
                    </h4>
                    <h5 class="text-2xl xs-text-base text-light">
                        Feb. 2025 - Mar. 2025
                    </h5>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="job-title">
                <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                    UX/UI Designer
                </h4>
            </div>
            <div class="bullets-container">
                <BulletsTimeline color="secondary" />
            </div>
            <div class="job-description">
                <div>
                    <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                        Bolsiyo App
                    </h4>
                    <h5 class="text-2xl xs-text-base text-light">
                        Abr. 2023 - Jul. 2024
                    </h5>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="job-title">
                <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                    UX/UI Designer
                    <br>
                    Web Designer
                </h4>
            </div>
            <div class="bullets-container">
                <BulletsTimeline color="tertiaryb" />
            </div>
            <div class="job-description">
                <div>
                    <h4 class="text-3xl sm-text-xl xs-text-base text-medium">
                        Independiente
                    </h4>
                    <h5 class="text-2xl xs-text-base text-light">
                        Abr. 2022 - Abr. 2023
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .experience-wrapper{
        background-color: var(--neutral-0);
    }
    h3 {
        color: var(--secundary-700);
        margin-bottom: 24px;
    }
    .timeline{
    }
    .timeline-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 42px;
        margin: 0 auto;
        padding-bottom: 118px;
    }

    @media (max-width: 575.98px){
        .timeline-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 0 auto;
        padding-bottom: 120px;
        max-width: 100%;
        }
    }

    .job-title, .job-description{
        color: var(--secundary-900);
    }
    .job-title{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 20%;
        align-items: flex-end
    }
    .job-description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 20%;
        align-items: flex-start
    }



    
</style>