---
import Logo from "./Logo.astro";
const year = new Date().getFullYear();
import Image from "astro/components/Image.astro";
import linkedin from '../assets/linkedin.png';
import behance from '../assets/behance.png';
import instagram from '../assets/instagram.png';
---

<footer class="footer">
	<div class="footer__brand">
		<Logo />
		<p class="text-base text-light slogan">
			La esencia del diseño.
			<br>
			La fuerza de los detalles.
		</p>
		<p class="text-base text-regular copyright">
			Copyright © {year}
		</p>
		<!-- <p class="text-base text-regular visitor">
			Fuiste el visitante número 1200
		</p> -->
	</div>
	<div class="footer__data">
		<div class="footer__services">
			<h5 class="footer__title text-lg text-semibold">Servicios</h5>
			<p class="text-base text-light">
				Diseño Web
			</p>
			<p class="text-base text-light">
				Desarrollo No-Code
			</p>
			<p class="text-base text-light">
				Desarrollo Web
			</p>
			<p class="text-base text-light">
				Diseño UX/UI
			</p>
		</div>
		<div class="footer__links">
			<h5 class="footer__title text-lg text-semibold">Links</h5>
			<a href="/#proyectos" class="text-base text-light">
				Proyectos
			</a>
			<a href="/#servicios" class="text-base text-light">
				Servicios
			</a>
			<a href="/#sobremi" class="text-base text-light">
				Sobre mí
			</a>
		</div>
		<div class="footer__social">
			<h5 class="footer__title text-lg text-semibold">
				Redes Sociales
			</h5>
			<div class="footer-icons">
				<a href="https://www.instagram.com/jorllinas/" target="_blank" nonreferrer noopener>
					<i aria-label="instagram">
						<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.5701 0.583252C12.742 0.586377 13.3368 0.592627 13.8503 0.60721L14.0524 0.614502C14.2857 0.622835 14.516 0.633252 14.7941 0.645752C15.9024 0.697835 16.6587 0.872835 17.3222 1.13013C18.0097 1.39471 18.5889 1.75304 19.168 2.33117C19.6979 2.85172 20.1078 3.48166 20.3691 4.177C20.6264 4.84054 20.8014 5.59679 20.8535 6.70617C20.866 6.98325 20.8764 7.21346 20.8847 7.44783L20.891 7.64992C20.9066 8.16242 20.9128 8.75721 20.9149 9.92908L20.916 10.7062V12.0708C20.9185 12.8305 20.9105 13.5903 20.892 14.3499L20.8857 14.552C20.8774 14.7864 20.867 15.0166 20.8545 15.2937C20.8024 16.403 20.6253 17.1583 20.3691 17.8228C20.1078 18.5182 19.6979 19.1481 19.168 19.6687C18.6475 20.1986 18.0175 20.6084 17.3222 20.8697C16.6587 21.127 15.9024 21.302 14.7941 21.3541L14.0524 21.3853L13.8503 21.3916C13.3368 21.4062 12.742 21.4135 11.5701 21.4155L10.793 21.4166H9.4295C8.66935 21.4193 7.90921 21.4113 7.14929 21.3926L6.94721 21.3864C6.69993 21.377 6.4527 21.3662 6.20554 21.3541C5.09721 21.302 4.34096 21.127 3.67637 20.8697C2.98141 20.6083 2.35184 20.1984 1.83158 19.6687C1.30132 19.1482 0.891071 18.5183 0.629499 17.8228C0.372207 17.1593 0.197207 16.403 0.145124 15.2937L0.113874 14.552L0.108666 14.3499C0.0894635 13.5904 0.080782 12.8306 0.0826237 12.0708V9.92908C0.0797405 9.16929 0.0873802 8.4095 0.10554 7.64992L0.112832 7.44783C0.121165 7.21346 0.131582 6.98325 0.144082 6.70617C0.196165 5.59679 0.371165 4.84159 0.628457 4.177C0.890639 3.48138 1.30161 2.85141 1.83262 2.33117C2.35258 1.80153 2.98178 1.39166 3.67637 1.13013C4.34096 0.872835 5.09617 0.697835 6.20554 0.645752C6.48262 0.633252 6.71387 0.622835 6.94721 0.614502L7.14929 0.608252C7.90887 0.589744 8.66866 0.581757 9.42846 0.584294L11.5701 0.583252ZM10.4993 5.79158C9.11796 5.79158 7.7932 6.34032 6.81644 7.31707C5.83969 8.29382 5.29096 9.61858 5.29096 10.9999C5.29096 12.3813 5.83969 13.706 6.81644 14.6828C7.7932 15.6595 9.11796 16.2083 10.4993 16.2083C11.8806 16.2083 13.2054 15.6595 14.1821 14.6828C15.1589 13.706 15.7076 12.3813 15.7076 10.9999C15.7076 9.61858 15.1589 8.29382 14.1821 7.31707C13.2054 6.34032 11.8806 5.79158 10.4993 5.79158ZM10.4993 7.87492C10.9097 7.87485 11.316 7.95561 11.6952 8.1126C12.0744 8.26958 12.4189 8.49971 12.7092 8.78984C12.9994 9.07998 13.2296 9.42444 13.3867 9.80355C13.5438 10.1827 13.6247 10.589 13.6248 10.9994C13.6249 11.4098 13.5441 11.8162 13.3871 12.1953C13.2302 12.5745 13 12.919 12.7099 13.2093C12.4198 13.4995 12.0753 13.7297 11.6962 13.8868C11.3171 14.044 10.9107 14.1248 10.5003 14.1249C9.67153 14.1249 8.87668 13.7957 8.29062 13.2096C7.70457 12.6236 7.37533 11.8287 7.37533 10.9999C7.37533 10.1711 7.70457 9.37626 8.29062 8.79021C8.87668 8.20416 9.67153 7.87492 10.5003 7.87492M15.9691 4.22909C15.6237 4.22909 15.2926 4.36627 15.0484 4.61046C14.8042 4.85464 14.667 5.18583 14.667 5.53117C14.667 5.8765 14.8042 6.20769 15.0484 6.45188C15.2926 6.69607 15.6237 6.83325 15.9691 6.83325C16.3144 6.83325 16.6456 6.69607 16.8898 6.45188C17.134 6.20769 17.2712 5.8765 17.2712 5.53117C17.2712 5.18583 17.134 4.85464 16.8898 4.61046C16.6456 4.36627 16.3144 4.22909 15.9691 4.22909Z" fill="#1A5B40"/>
							</svg>
						</i>
				</a>
				<a href="https://www.behance.net/jormallinas" target="_blank" nonreferrer noopener>
					<i aria-label="behance">
						<svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.27187 0.1875C7.99219 0.1875 8.65781 0.242188 9.26875 0.40625C9.87812 0.515625 10.3797 0.74375 10.825 1.01719C11.2703 1.29062 11.6016 1.68281 11.8266 2.18437C12.0453 2.68437 12.1641 3.29531 12.1641 3.96094C12.1641 4.73594 11.9984 5.40156 11.6078 5.90156C11.2719 6.40156 10.7234 6.84844 10.05 7.17812C10.9969 7.45312 11.7172 7.95312 12.1562 8.61875C12.5953 9.28438 12.8766 10.1141 12.8766 11.0609C12.8766 11.8359 12.7125 12.5016 12.4312 13.0578C12.1517 13.6184 11.7305 14.0962 11.2094 14.4437C10.7094 14.7797 10.0984 15.0531 9.43281 15.2188C8.78087 15.3914 8.11028 15.4837 7.43594 15.4937L0 15.5047V0.1875H7.27187ZM6.82656 6.40313C7.43594 6.40313 7.93594 6.23906 8.32187 5.95781C8.70625 5.67656 8.87656 5.18125 8.87656 4.57188C8.87656 4.23438 8.82187 3.90625 8.7125 3.68594C8.59312 3.46335 8.42155 3.27301 8.2125 3.13125C7.98616 3.00695 7.74378 2.91442 7.49219 2.85625C7.21719 2.80156 6.93594 2.80156 6.60625 2.80156H3.39062V6.41094C3.39062 6.40312 6.82656 6.40313 6.82656 6.40313ZM6.99062 12.9547C7.32656 12.9547 7.65625 12.9 7.9375 12.8453C8.2125 12.7906 8.49375 12.6797 8.7125 12.5078C8.93125 12.3359 9.10312 12.1719 9.26875 11.8984C9.37812 11.6234 9.4875 11.2875 9.4875 10.8969C9.4875 10.1219 9.26875 9.56563 8.82187 9.175C8.37656 8.83906 7.76562 8.675 7.04531 8.675H3.39062V12.9469H6.99219L6.99062 12.9547ZM17.7062 12.9C18.1521 13.3448 18.8177 13.5667 19.7031 13.5656C20.3125 13.5656 20.8687 13.4 21.3156 13.1187C21.7594 12.7854 22.0354 12.4521 22.1437 12.1187H24.8625C24.4156 13.4484 23.75 14.3953 22.8656 15.0063C21.9812 15.5609 20.9234 15.8906 19.6469 15.8906C18.8305 15.8956 18.0206 15.7444 17.2609 15.4453C16.5761 15.1926 15.9654 14.7726 15.4844 14.2234C14.97 13.7127 14.5881 13.0841 14.3719 12.3922C14.0984 11.6719 13.9812 10.8969 13.9812 10.0047C13.9812 9.175 14.0906 8.39219 14.3719 7.67188C14.6531 6.95312 15.0375 6.34063 15.5391 5.78594C16.0391 5.28594 16.65 4.83906 17.3156 4.56406C18.0576 4.26789 18.8495 4.11672 19.6484 4.11875C20.5953 4.11875 21.425 4.28281 22.1453 4.67344C22.8641 5.06406 23.4219 5.50469 23.8672 6.17031C24.3125 6.77969 24.6422 7.5 24.8687 8.27656C24.9781 9.05156 25.0328 9.83281 24.9781 10.7188H16.9312C16.9312 11.625 17.2594 12.4531 17.7062 12.9ZM21.2062 7.06875C20.8156 6.67812 20.2031 6.45781 19.4828 6.45781C18.9828 6.45781 18.5984 6.56719 18.2625 6.73281C17.9266 6.89844 17.7062 7.12344 17.4875 7.34219C17.2835 7.55681 17.1476 7.82701 17.0969 8.11875C17.0406 8.39219 16.9875 8.61875 16.9875 8.8375H21.9812C21.8719 8.01563 21.5922 7.45937 21.2062 7.06875ZM16.3203 1.24375H22.5359V2.73906H16.3203V1.24375Z" fill="#1A5B40"/>
							</svg>
					</i>
				</a>
				<a href="https://www.linkedin.com/in/jormary-llinas-3b5322119/" target="_blank" nonreferrer noopener>
					<i aria-label="linkedin">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.22917 2.7084C4.22889 3.26093 4.00913 3.79073 3.61824 4.18123C3.22734 4.57174 2.69733 4.79097 2.14479 4.79069C1.59226 4.79041 1.06246 4.57066 0.671958 4.17976C0.281452 3.78886 0.062224 3.25885 0.0625003 2.70632C0.0627765 2.15378 0.282535 1.62399 0.673431 1.23348C1.06433 0.842976 1.59434 0.623747 2.14688 0.624024C2.69941 0.6243 3.2292 0.844058 3.61971 1.23495C4.01021 1.62585 4.22944 2.15586 4.22917 2.7084ZM4.29167 6.3334H0.125V19.3751H4.29167V6.3334ZM10.875 6.3334H6.72917V19.3751H10.8333V12.5313C10.8333 8.71882 15.8021 8.36465 15.8021 12.5313V19.3751H19.9167V11.1146C19.9167 4.68756 12.5625 4.92715 10.8333 8.0834L10.875 6.3334Z" fill="#1A5B40"/>
							</svg>
					</i>
				</a>
			</div>
		</div>
	</div>
</footer>
<style>
	.footer{
		background-color: var(--secundary-700);
		padding: 118px 352px;
		display: flex;
		justify-content: space-between;
	}
	.footer__data{
		display: flex;
		justify-content: space-between;
		gap: 98px;
	}
	@media (max-width: 1024px){
		.footer__data{
			display: flex;
			justify-content: space-between;
			gap: 48px;
		}
	}

	@media (max-width: 1440px){
		.footer{
			padding: 118px 112px;
			gap: 48px;
		}
	}
	@media (max-width: 820px){
		.footer{
			padding: 118px 48px;
			gap: 98px;
			flex-direction: column-reverse;
		}
		.footer__data{
			flex-direction: column;
			gap: 48px;
		}
	}
	@media (max-width: 575.98px){
		.footer{
			flex-direction: column-reverse;
			padding: 58px 24px;
		}
	}

	.footer__brand .slogan{
		color: var(--background-200);
		margin-top: 16px;
	}
	.footer__brand .copyright{
		color: var(--secundary-300);
		margin-top: 35px;
	}
	.footer__brand .visitor{
		color: var(--background-300);
		margin-top: 35px;
	}

	.footer__title{
		color: var(--tertiary-200);
		margin-bottom: 42px;
	}

	.footer__services p, .footer__links a{
		color: var(--background-50);
		margin-bottom: 20px;
		display: block;
	}

	.footer-icons{
		display: flex;
		gap: 16px;
	}

	.footer-icons i{
		width: 53px;
		height: 54px;
		background-color: var(--primary-200);
		padding: 8px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	.footer-icons i:hover{
		background-color: var(--tertiary-200);
		transition: all 0.3s ease;
	}

	@media (max-width: 575.98px){
		.footer__services{
			order: 2;
		}
		.footer__links{
			order: 1;
		}
	}

</style>
