---
import HeaderLink from './HeaderLink.astro';
import Button from './Button.astro';
import Logo from './Logo.astro';
---

<nav>
	<Logo color/>
	<div class="internal-links">
		<HeaderLink class="text-xl active" href="/">Inicio</HeaderLink>
		<HeaderLink class="text-xl" href="/blog">Proyectos</HeaderLink>
		<HeaderLink class="text-xl" href="/about">Servicios</HeaderLink>
		<HeaderLink class="text-xl" href="/about">Sobre mí</HeaderLink>
	</div>
	<Button link="#form" type="primary">
		Contactar
	</Button>
</nav>
<style>
	nav{
		position: absolute;
		top: 24px;
		z-index: 1;
		background-color: var(--neutral-0);
		border-radius: 100px;
		left: 50%;
		transform: translateX(-50%);
		padding: 12px 8px 12px 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: 80px;
		width: 1008px;
	}
	.nav__logo{
		fill: #1E3A2B;
		margin-top: 8px;
	}

	nav .internal-links a{
		color: var(--secundary-900);
		margin: 0 16px;
		text-decoration: none;
		font-family: var(--text-medium);

	}
	nav .internal-links .active{
		color: var(--secundary-500);
		font-family: var(--text-semibold);
	}
	.internal-links{
		width: 693px;
		display: flex;
		justify-content: center;
	}




</style>
