<section class="servicios">
    <h4 class="text-center text-4xl text-semibold servicios__title">SERVICIOS</h4>
    <div class="servicios__bullets">
        <h3 class="text-center text-8xl text-medium ml-5">
            Diseño Web
            <i class="ml-3">
                <svg width="52" height="48" viewBox="0 0 52 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3014 44.8551C18.7629 46.3723 28.2731 48.8585 36.0278 44.8362C39.4214 43.076 41.3411 41.3542 44.0157 38.5418C46.5067 35.9223 48.3909 33.774 49.6534 30.3987C51.2694 26.0772 51.1796 21.4484 51.3415 16.9275C51.4181 14.7897 51.6761 12.6547 51.6263 10.516C51.6001 9.38839 51.4007 5.62199 49.3933 5.23721C46.8416 4.7485 45.5668 8.5122 45.3016 10.2057C44.6161 14.5807 45.0012 20.7293 45.1066 25.1106C45.1259 25.9015 45.6497 29.8289 44.4248 30.6633C44.052 30.9174 43.7919 29.943 43.7429 29.4942C43.4861 27.1411 43.5603 26.404 43.6456 24.0388C43.8078 19.5242 44.8486 12.9124 43.548 8.25718C43.3125 7.41403 42.3813 5.19336 41.1423 4.77764C37.9727 3.71461 38.2266 9.48631 38.2875 10.7902C38.4287 13.8126 38.9403 13.6864 39.2617 16.7325C39.5452 19.42 39.6146 22.1261 39.8462 24.8183C39.9096 25.5548 40.9981 30.1376 39.93 31.0322C39.6437 31.2719 35.1865 26.6915 34.7804 8.35479C34.7287 6.02299 32.8895 3.16853 30.2018 4.7503C28.8089 5.57002 28.6212 8.55695 28.7404 9.7185C29.382 15.9663 29.4535 20.2502 31.5558 25.8892C32.6198 28.7427 37.466 34.8673 36.3976 34.9863C34.9666 35.1458 30.5133 28.4048 29.4322 26.5091C25.4489 19.5236 27.1208 16.2456 25.5354 8.60501C25.3573 7.74714 24.2553 -0.404417 20.2573 1.18817C18.4055 1.92559 18.0732 4.84703 18.0576 6.26209C17.9843 12.9668 21.5411 22.4556 24.649 27.8383C25.6117 29.5057 29.127 33.1369 30.3967 34.5601C30.9305 35.1587 32.0623 36.6564 31.2735 36.8009C29.4046 37.1424 27.0001 33.7505 26.1104 32.9041C24.2252 31.1109 23.045 30.5645 21.8502 28.1888C18.9957 22.5126 18.5043 16.2051 15.7838 10.498C15.6072 10.1267 13.4478 6.42279 10.8156 6.89348C8.97611 7.22239 7.66979 8.65037 7.50338 12.9334C7.41026 15.3343 7.93952 18.8424 8.60245 21.0012C10.3338 26.6401 14.2104 31.7765 18.9987 35.2422C22.3512 37.6683 25.779 39.825 29.577 41.3726C29.9951 41.5432 30.7878 42.2253 30.3967 42.4509C28.3037 43.6593 24.7986 42.3305 22.9342 41.6738C15.3038 38.9876 10.9697 34.269 7.82718 26.614C6.03034 22.2366 6.89211 22.0047 4.97062 17.6093C4.69908 16.9888 3.62734 16.7013 3.06835 16.8338C0.4641 17.4513 0.695388 22.0095 0.707403 23.6613C0.758467 30.6104 3.26149 35.3663 7.80255 40.3852C8.7235 41.4029 12.1775 44.133 14.3014 44.8551Z" fill="#FF8F85"/>
                </svg>
             </i>
        </h3>
        <h3 class="text-center text-8xl text-medium">
            <i class="mr-3">
                <svg width="48" height="56" viewBox="0 0 48 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7542 26.2143C21.6342 24.9028 21.0651 24.2791 18.4163 23.5543C16.1207 22.9262 13.9575 23.7876 13.9575 26.2143C10.4353 26.2143 10.5981 27.5295 12.2765 28.501C13.9549 29.4724 14.9142 30.1343 15.9817 31.733C15.7306 32.8985 13.052 33.7843 12.2765 34.2231C9.19797 35.9643 6.3171 38.6178 3.68934 40.927C1.79714 42.5893 1.27878 49.3445 1.06112 51.894C0.975457 52.8909 0.990076 52.9523 0.782935 53.9182C0.539184 55.0432 0.734937 56.3642 1.7571 55.1901C2.44173 54.4038 2.58656 54.4605 3.20367 53.9182C4.77084 52.5405 5.8821 50.1853 7.54476 48.7247C10.6171 46.0243 14.1355 43.6316 18.4163 42.3885C21.2295 41.5715 24.2296 41.3338 26.9758 40.3054C28.4886 39.7395 29.9548 39.0438 31.5589 38.7299C31.7685 38.6889 32.9379 38.2724 33.1291 38.4226C35.1139 39.9901 37.5893 42.2842 39.9397 43.47C40.3182 43.6615 41.7208 44.8864 41.9551 44.8405C42.3628 44.7607 42.9446 42.9187 43.1413 42.5718C44.1981 40.708 46.0129 38.9134 46.9817 37.2047C47.1467 36.9137 45.2316 35.8226 45.0534 35.6818C43.4502 34.4157 40.039 32.7221 38.1009 32.2909C37.7398 32.2108 35.1191 31.92 35.24 31.3583C35.731 29.0749 37.2019 27.232 37.7031 24.9028C38.7188 20.182 39.5078 14.5203 40.4262 10.252C40.5959 9.46311 41.6967 8.54514 42.1988 8.00477C43.4971 6.60517 44.5824 4.94739 45.719 3.37895C45.9011 3.12654 47.2886 1.41304 47.1808 1.3279C45.1304 -0.291418 33.0902 2.98498 31.2794 4.57629C28.6937 6.84858 28.6631 16.2185 26.9758 20.3996C26.1323 22.4898 25.4517 24.5345 22.7542 26.2143Z" fill="#665735"/>
                </svg>
             </i>
            Desarrollo No-Code
        </h3>
        <h3 class="text-center text-8xl text-medium ml-5">
            Desarrollo Web
            <i class="ml-3">
            <svg width="50" height="52" viewBox="0 0 50 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3834 30.0444C10.7144 31.1888 9.05287 35.3804 7.9759 38.0849C6.86274 40.8809 5.64967 43.6504 4.81364 46.5417C4.74343 46.7845 5.34007 46.5457 5.56338 46.4275C5.97289 46.2113 6.31312 45.8807 6.65489 45.5686C7.23266 45.0416 7.7331 44.4335 8.31737 43.9136C10.7908 41.7138 17.4191 35.9077 20.4347 34.1323C22.2271 33.077 24.7995 37.1737 25.2527 37.7821C28.4669 42.0986 31.9319 47.396 35.6178 51.3593C35.7567 51.5084 35.9528 51.0686 35.9788 50.8669C36.0657 50.2 35.9973 49.5205 35.9441 48.8503C35.8285 47.3953 35.7682 45.9265 35.4718 44.4975C35.41 44.1987 32.7874 34.6758 32.4862 32.7816C32.3504 31.9283 32.0523 30.9791 32.4061 30.1903C32.819 29.2708 33.7976 28.7218 34.5885 28.0967C38.1513 25.2802 42.0429 22.9042 45.8373 20.4091C46.1872 20.179 50.273 18.3473 49.9253 17.0511C49.5802 15.7653 46.2221 16.1445 45.6913 16.1751C38.7977 16.5754 38.6183 16.4408 31.9681 18.3653C30.0907 18.9084 28.3475 19.9365 26.4206 20.2631C26.1088 20.3157 26.1821 19.6634 26.1744 19.3473C26.1638 18.8929 26.2653 18.4404 26.3671 17.9978C26.5424 17.2348 26.8146 16.4968 27.0045 15.7372C27.9519 11.947 28.8578 8.1467 29.7783 4.35007C29.9336 3.70983 30.6069 1.42103 30.2163 0.700053C30.0752 0.439624 29.6141 0.811707 29.3756 0.987697C28.8943 1.34277 28.4941 1.80022 28.1068 2.25644C27.4583 3.02071 26.793 3.78344 26.2746 4.64205C24.1342 8.1866 22.0975 11.7949 20.1427 15.4452C20.0561 15.607 18.6114 19.6739 18.2449 19.8252C17.3417 20.1976 16.3034 19.5786 15.3496 19.3674C12.281 18.6873 6.59767 17.0325 3.51211 16.4504C2.49978 16.2593 1.06929 15.3645 0.433989 16.1751C-0.1478 16.9178 1.22332 17.902 1.77449 18.6672C2.94549 20.2925 4.28722 21.788 5.57947 23.3181C7.49031 25.5806 10.9285 28.9538 11.3834 30.0444Z" fill="#F8F55E"/>
            </svg>
            </i>
        </h3>
        <h3 class="text-center text-8xl text-medium mr-5">
            <i class="mr-3">
            <svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3366 53.2738C21.3408 53.3385 20.0199 53.0303 19.9273 52.8914C19.6543 52.4819 19.6352 52.0151 19.4405 51.5769C18.992 50.5679 16.8258 48.2502 15.3797 48.2502C11.6672 48.2502 9.65493 48.8592 6.00295 49.1913C5.364 49.2494 2.38349 50.183 2.69231 48.9478C3.39633 46.1317 8.39185 43.4633 10.7743 42.5699C11.9571 42.1264 12.8078 41.2044 14.0362 41.4501C15.2833 41.6995 17.3972 43.9096 18.7102 44.5661C19.1478 44.7849 19.9157 45.8435 20.4142 45.345C20.6273 45.1319 19.8045 43.7355 19.7326 43.5436C19.5506 43.0583 19.3907 42.5672 19.1971 42.083C18.8567 41.2321 18.505 40.3853 18.1259 39.5514C17.5369 38.2554 17.1524 36.9226 16.5193 35.6564C16.2344 35.0867 15.556 34.239 14.9613 34.0011C12.7324 33.1095 6.25311 35.1737 4.1042 36.0946C3.42476 36.3858 2.77865 36.3013 2.10808 36.4354C1.97391 36.4622 0.827852 36.8449 0.793549 36.7762C0.628214 36.4457 0.903354 35.676 1.03698 35.3643C2.56781 31.7924 3.73895 33.0112 6.6359 31.0799C7.44171 30.5427 12.0685 27.559 12.9651 27.3797C14.1816 27.1365 16.0539 27.7926 17.1522 28.1587C19.9812 29.1017 21.5916 31.3603 22.7024 33.9524C23.1094 34.9019 23.4102 35.9821 23.9196 36.8736C23.9723 36.9657 24.4518 37.7534 24.5038 37.7013C24.6659 37.5393 24.1245 36.0089 24.0657 35.7538C23.7297 34.2978 23.4891 32.8018 22.8972 31.4207C22.5777 30.6751 22.1015 30.0008 21.8262 29.2298C19.9542 23.9883 17.8337 18.7618 16.6654 13.3093C16.3817 11.986 15.9243 10.7428 15.5943 9.41434C14.8548 6.43857 15.0831 2.26686 15.3797 1.97022C16.3427 1.00725 18.2008 6.30104 18.3693 6.54184C18.8222 7.18867 19.1339 7.94011 19.5865 8.58668C20.8049 10.3273 22.3301 11.9316 23.2867 13.8449C23.8148 14.9011 23.6784 16.4827 23.9683 17.6424C24.3657 19.2319 25.0321 20.7291 25.429 22.3163C25.8437 23.9756 26.6967 25.2428 27.279 26.7955C27.4578 27.272 27.714 27.8018 27.8146 28.3047C27.8602 28.5327 27.9367 28.7197 28.0093 28.9377C28.0255 28.9863 28.058 29.1351 28.058 29.0838C28.058 26.8224 27.8515 24.5594 27.9607 22.2676C28.2067 17.0998 29.5673 12.0819 29.5673 6.88263C29.5673 6.55608 30.2409 0.901378 30.7847 0.728414C31.4896 0.504225 32.269 2.35418 32.3424 2.50089C32.71 3.23603 32.5668 6.17248 32.9126 6.97936C33.7792 9.00136 34.1587 12.0301 33.9977 14.283C33.8534 16.3052 34.0146 18.3608 33.7057 20.3688C33.3806 22.4814 33.2981 24.6254 33.1214 26.7468C33.0862 27.1688 33.0727 27.5873 33.0727 28.0127C33.0727 28.2885 32.7969 28.8403 33.0727 28.8403C33.3021 28.8403 34.0288 27.182 34.1438 26.9902C35.145 25.3215 36.6534 23.8588 37.7466 22.219C39.6688 19.3356 41.8211 16.5326 43.6864 13.6015C44.1972 12.7988 45.3096 11.241 45.9934 10.5572C47.1609 9.38971 49.1543 7.51943 50.1618 7.82422C50.9006 8.04777 49.6544 11.0354 48.9762 12.1657C48.5666 12.8485 47.6832 15.0131 47.207 15.6479C46.2837 16.8791 46.1305 17.5979 45.0983 18.8596C43.8382 20.3996 43.112 22.5399 42.2258 24.3124C41.5509 25.6622 40.7096 26.9067 40.0349 28.2561C39.1589 30.0081 37.262 31.3203 36.0913 32.8813C36.008 32.9924 34.9304 34.2521 35.0202 34.3419C35.2175 34.5392 36.2149 33.4614 36.3347 33.3682C37.5506 32.4224 39.0736 31.6735 40.3757 30.8364C41.5691 30.0692 42.649 29.1632 43.9298 28.5482C44.6639 28.1956 47.125 27.1435 48.0097 27.5791C49.121 28.1263 50.9235 30.6607 51.3957 31.6053C51.69 32.1938 52.766 34.3923 52.2772 34.6367C51.9699 34.7903 50.1294 33.0811 49.7384 33.2114C48.6901 33.5609 48.0444 33.9379 46.6563 34.7314C45.6747 35.2924 44.5463 36.0785 43.5403 36.5814C40.8247 37.9393 38.2954 39.5927 35.6531 41.0606C34.0383 41.9577 32.6255 43.1111 31.0766 44.0792C31.0066 44.1229 29.842 45.0929 30.0541 45.199C30.9717 45.6578 34.4218 44.2934 35.3123 43.9819C38.1696 42.9818 40.2571 42.9567 41.7693 42.6025C43.9433 42.0931 45.928 39.4816 46.8803 39.4453C48.0656 39.4002 46.3665 44.2613 44.9408 45.2253C41.2616 47.7129 34.3967 51.6354 30.1515 52.6967C29.3003 52.9095 28.4714 53.5427 27.5711 53.7678C26.1733 54.1173 22.9644 53.2738 21.3366 53.2738Z" fill="#6DCF6E"/>
            </svg>
            </i>
            Diseño UX/UI
        </h3>
    </div>
</section>
<style>
    .servicios {
        background-color: var(--primary-200);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 118px 0;
    }
    .servicios__title{
        color: var(--secundary-700);
        margin-bottom: 48px;
    }
    .servicios__bullets{
        max-width: 840px;
    }
    .servicios__bullets h3{
        margin-bottom: 8px;
    }
</style>